@tailwind base;
@tailwind components;
@tailwind utilities;

/* small custom utilities */
html,body,#root { height: 100%; }

body {
  @apply bg-gradient-to-b from-slate-950 via-slate-900 to-slate-800 text-slate-100;

  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial;
}
